@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  font-family: "Montserrat", sans-serif;
}

main {
  background: linear-gradient(#c2dfad95, #24b8625c);
  background-attachment: fixed;
}

nav {
  background: rgba(0, 0, 0, 0.045);
  padding: 10px 40px 1px 70px;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

nav ul li.logo {
  flex: 1;
}

nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  flex-wrap: nowrap;
}

nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid;
}

nav ul div.items a:hover {
  color: rgb(11, 179, 230);
}

nav ul .search-icon input:focus {
  border-width: 2px;
}

nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 50%;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

nav ul .search-icon .icon:hover {
  background-color: #e3f6ee;
}

footer {
  background: rgba(0, 0, 0, 0.045);
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.main-content .box {
  padding: 10px 70px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.box .content {
  margin: 20px 0 0 0;
}

.box label {
  display: block;
}
