{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script
      src="https://kit.fontawesome.com/yourcode.js"
      crossorigin="anonymous"
    ></script>
    <title>Theatre</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="logo">
            <img src="{% static 'theatre.svg' %}" alt="Theatre logo" />
          </li>
          <div class="items">
            <li><a href="#">Головна</a></li>
            <li><a href="#">Афіша</a></li>
            <li><a href="#">Про театр</a></li>
          </div>
          <li class="search-icon">
            <input type="search" placeholder="Пошук..." />
            <button type="submit" class="icon fa fa-search"></button>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
