{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script
      src="https://kit.fontawesome.com/yourcode.js"
      crossorigin="anonymous"
    ></script>
    <title>Theatre</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="logo">
            <a href="#"
              ><img src="{% static 'theatre.svg' %}" alt="Theatre logo"
            /></a>
          </li>
          <div class="items">
            <li><a href="#">Головна</a></li>
            <li><a href="#">Афіша</a></li>
            <li><a href="#">Про театр</a></li>
          </div>
          <li class="search-icon">
            <input type="search" placeholder="Пошук..." />
            <button type="submit" class="icon fa fa-search"></button>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block main %}{% endblock %}</main>

    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>Адреса</h2>
          <div class="content">
            <div class="address">
              <div class="place">
                <span class="fa fa-map-marker"></span>
                <span class="footer-text">01001 Київ-1</span>
                <span class="footer-text">пл. І. Франка, З</span>
              </div>
              <div class="phone">
                <span class="fa fa-phone"></span>
                <span class="footer-text">
                  <a href="tel:+380953660160">+38 (095) 366-01-60</a>
                </span>
              </div>
              <div class="email">
                <span class="fa fa-envelope"></span>
                <span class="footer-text">
                  <a href="mailto:flintm30@gmail.com">flintm30@gmail.com</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="right box">
          <h2>Зв'яжіться з нами</h2>
          <div class="content">
            <div class="input-form">
              <form action="">
                <div class="email-post">
                  <label for="email-id"
                    >Якщо у вас виникли питання,<br />можете заповнити форму для
                    контакту нижче.</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email-id"
                    placeholder="E-Mail"
                    required
                  />
                </div>
                <div class="msg-post">
                  <textarea
                    maxlength="200"
                    name="message"
                    id="msg-id"
                    cols="29"
                    rows="3"
                    required
                    placeholder="Введіть повідомлення..."
                  ></textarea>
                  <div>
                    <button class="btn-footer" type="submit">Відправити</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="rights-socmedia"
        style="border-top: 1px solid rgba(0, 0, 0, 0.175)"
      >
        <p>
          © 2023 Національний театр ім. Франка. Всі права захищені на сайті.
        </p>
        <ul class="media-list">
          <div class="media-list-div">
            <li>
              <a href="http://instagram.com/" class="fa fa-instagram"></a>
            </li>
            <li>
              <a href="https://t.me/roosevelt_valor" class="fa fa-telegram"></a>
            </li>
          </div>
        </ul>
      </div>
    </footer>
  </body>
</html>
